package ${package};

$tool.getColumnTypeImport($tableInfo.fullColumn)

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})API模型
 *
 * @author $!author
 * @since $!time.currTime()
 */
@Data
@EqualsAndHashCode(callSuper = false)
@NoArgsConstructor
@ApiModel(value="$tableInfo.comment")
public class $!{tableInfo.name}Model {

#foreach($column in $tableInfo.fullColumn)
    #if(${column.comment})    @ApiModelProperty("$column.comment")
    #end
    private ${column.shortType} $!{column.name};

#end

}
