package $package;

$tool.getColumnTypeImport($tableInfo.fullColumn)
##
## import List
#foreach($column in $tableInfo.fullColumn)
    #if($column.name.startsWith("$timeKey") || $column.name.endsWith("$timeKey"))
import java.util.List;
    #break;
    #end
#end

import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})QueryDO实体类
 *
 * @author $!author
 * @since $!time.currTime()
 */
@Data
@EqualsAndHashCode(callSuper = false)
@NoArgsConstructor 
public class $!{tableInfo.name}QueryDO {

#foreach($column in $tableInfo.fullColumn)
    #if($column.name.startsWith("$timeKey") || $column.name.endsWith("$timeKey"))
      #if(${column.comment})    /** $column.comment范围搜索。如果有值，是一个长度为2的数组。格式：[开始时间， 结束时间] */
      #end
      private List<${column.shortType}> $!{column.name};
    #else 
      #if(${column.comment})    /** $column.comment */
      #end
      private ${column.shortType} ${column.name};
    #end

#end

}
